
trigger: none

pool:
  name: dev

resources:
  repositories:
    - repository: ansibleRepo
      type: github
      name: omkar19928860/ansible-app-deploy
      ref: main
      endpoint: terraform-cloud-lab

stages:
# - stage: Scanning
#   displayName: SonarQube Scan
#   jobs:
#   - job: staticAnalysis
#     displayName: Static Analysis (SonarQube)
#     steps:
#     - task: PowerShell@2
#       displayName: Run SonarScanner
#       inputs:
#         targetType: 'inline'
#         script: |
#           Write-Host "Running SonarScanner..."

#           cd "$(Build.SourcesDirectory)/ReactTodoUIMonolith"

#           & "C:\sonar-scanner\bin\sonar-scanner.bat" `
#           "-Dsonar.projectKey=TodoPipeline" `
#           "-Dsonar.projectName=Todo Pipeline" `
#           "-Dsonar.sources=src" `
#           "-Dsonar.exclusions=**/node_modules/**,**/build/**" `
#           "-Dsonar.host.url=http://98.70.25.150:9000" `
#           "-Dsonar.token=squ_1afe82cc734faf915e54a5d5d2f2f441669cbc17"

# - stage: Scanning2
#   displayName: CSS SCAN
#   jobs:
#   - job: staticAnalysis
#     displayName: CSS SCAN (biome)
#     steps:
#     - task: PowerShell@2
#       displayName: biomelinter
#       continueOnError: true
#       inputs:
#         targetType: inline
#         workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith'
#         script: |
#           npm.cmd install --save-dev --save-exact @biomejs/biome
#           npx.cmd biome --version
#           npx.cmd biome lint src 
# - stage: Readme
#   displayName: Readme linter(markdown)
#   jobs:
#   - job: Readme
#     displayName: Readme Linter
#     steps:
          
#     - task: PowerShell@2
#       continueOnError: true
#       displayName: Lint Markdown(markdownlint)      
#       inputs:
#        targetType: 'inline'
#        script: |
#         npm.cmd install -g markdownlint-cli      
#         markdownlint $(System.DefaultWorkingDirectory)/ReactTodoUIMonolith

# - stage: yamllinter
#   displayName: Yaml Scan
#   jobs:
#   - job: Yaml
#     displayName: Yaml Scan
#     steps:
#     - task: PowerShell@2
#       displayName: Lint YAML (yamllint)
#       inputs:
#        targetType: 'inline'
#        script: |
#         $PYTHON="C:\Users\OMKAR SINGH\AppData\Local\Programs\Python\Python312\python.exe"

#         & $PYTHON --version
#         & $PYTHON -m pip install --upgrade pip
#         & $PYTHON -m pip install yamllint
# - stage: CSSinter
#   displayName: CSS linter(stylelint)
#   jobs:
#   - job: CSSinter
#     displayName: CSS linter(stylelint)
#     steps:
#     - task: PowerShell@2
#       continueOnError: true
#       displayName: Lint CSS(Styelint)  
#       inputs:
#        targetType: 'inline'
#        workingDirectory: '$(Build.SourcesDirectory)/ReactTodoUIMonolith/src'
#        script: |
#         npm.cmd install -g stylelint
#         npm.cmd install --save-dev stylelint stylelint-config-standard
#         npx.cmd stylelint "**/*.css"
- stage: Build
  displayName: Build using Ansible
  jobs:
  - job: BuildJob
    displayName: Ansible Build
    steps:
    - checkout: ansibleRepo

    - task: CmdLine@2
      inputs:
        script: |
          wsl --list
          wsl ansible --version
    - task: CmdLine@2
      inputs:
        script: 'wsl ansible-playbook playbooks/build.yml'


#  ================= DEPLOY STAGE =================
# - stage: Deploy
#   displayName: Deploy using Ansible (WSL)
#   dependsOn: Build
#   condition: succeeded()
#   jobs:
#   - job: DeployJob
#     displayName: Ansible Deploy via WSL
#     steps:
#     - checkout: ansibleRepo

#     - task: CommandLine@2
#       displayName: Run Ansible Deploy (WSL)
#       inputs:
#         script: |
#           wsl ansible-playbook playbooks/deploy.yml

    
    


    

  

      
    
